# General
.DS_Store

#BasicDB
BasicDB/.DS_Store
BasicDB/.env
BasicDB/build/

# BasicCalculator
BasicCalculator/build/
BasicCalculator/CMakeFiles/
BasicCalculator/CMakeCache.txt
BasicCalculator/Makefile
BasicCalculator/*.cmake
BasicCalculator/*.o
BasicCalculator/*.out
BasicCalculator/SimpleCalculator
BasicCalculator/*_autogen/
BasicCalculator/docker-compose.override.yml
BasicCalculator/*.log
BasicCalculator/*.tmp
BasicCalculator/.DS_Store
BasicCalculator/.Xauthority

# PersonalLibrary #
PersonalLibrary/.DS_Store
PersonalLibrary/.env
PersonalLibrary/build/
PersonalLibrary/CMakeFiles/
PersonalLibrary/CMakeCache.txt
PersonalLibrary/Makefile
PersonalLibrary/*.cmake
PersonalLibrary/*.o
PersonalLibrary/*.out
PersonalLibrary/*_autogen/
PersonalLibrary/*.log
PersonalLibrary/*.tmp